body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcoral;
}

#search, #country-name {
    background-color: lightcoral;
    border: 1px solid ghostwhite;
    border-radius: 4px;
}

li {
    list-style: none;
    /*display: none;*/
}